

header {
        width: 100%;
        height: auto;
        position: relative;
        overflow: hidden;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

video {
    width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        object-fit: cover;
}

#login-box {
    width: 85%;
    height: auto;
    margin: 0 auto;
    margin-top: 15%;
    text-align: center;
    background: #00000080;
    padding: 50px 50px;
position: relative;
z-index: 2;
}

#login-box h1 {
    color: white;
font-size: 50px;
}

#login-box .form .item {
    margin-top: 0px;
}

#login-box .form .item input {
    width: 500px;
    height: 150px;
    font-size: 25px;
    border: 0;
    border-bottom: 3px solid white;
    padding: 15px 10px;
    background: #ffffff00;
    color: #ffffff;
 cursor:text;
    position: center;
}

#login-box .form .item input[placeholder] {
    color: white;
}

#login-box .form .item i {
    font-size: 40px;
    color: white;
}

#login-box input {
    cursor: pointer;
    border: 0;
    margin-top: 17px;
    width: 140px;
    height: 38px;
    font-size: 21px;
    font-weight: 700;
    color: white;
    background-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
    border-radius: 15px;
}

#message-box {
    color: white;
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
}