* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

video {
        width: 100%;
        position: fixed;
            top: 0;
            left: 0;
            height: 100%;
            object-fit: cover;
    }
    

    .contenedor{
        position: relative;
        display: inline-block;
        text-align: center;
        z-index: 2;
        font-size: 15px;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
    }
    .texto-encima{
        position: absolute;
        top: 0px;
        left: 10px;
        position: relative;
        z-index: 2;
    }

button {
        display: block;
        margin: auto;
        height: 40px;
        width: 70%;
        padding-left: 10px;
        color: #fff;
        border: 1px solid #fff;
        border-radius: 8px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        background-color: transparent;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        font-size: 1rem;
        outline: none;
        cursor: pointer;
        background:linear-gradient(#3a6b9c00, #c62a2a35);
        border: 2px solid #3498db30;
        position: relative;
z-index: 2;
        
} 


.form-body {
    width: 400px;
    max-width: 300px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border: solid 5px #afafaf;
    margin: 10px;
    position: relative;
z-index: 2;
}

.form-body img {
        width: 175px;
        display: block;
        margin: 20px auto;
        position: relative;
z-index: 2;
}

.text {
        text-align: center;
        font-size: 1.5rem;
        font-weight: 600;
        color: #fff;
        margin-bottom: 25px;
        position: relative;
z-index: 2;
}


.form-body input {
        display: block;
        margin: auto;
        height: 40px;
        width: 75%;
        padding-left: 10px;
        color: #fff;
        border: 1px solid #fff;
        border-radius: 2px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        background-color: transparent;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        font-size: 1rem;
        outline: none;
        position: relative;
z-index: 2;
} 


.form-body input[type="password"] {
        margin-top: 20px;
        position: relative;
z-index: 2;
}

::placeholder {
    font-size: 1rem;
    color: rgb(197, 197, 197)
}

.form-body input:hover{
        transition: .5s;
        border: 1px solid #2980b9;
        color: #2498bd;
        position: relative;
z-index: 2;
}

.form-body input  {

    display: block;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 30px;
    height: 40px;
    width: 78%;
    background: #ea232389;
    color: #ffffff;
    border-radius: 20px;
    cursor: pointer;
    outline: none;
    border: 2px #2980b9;
    transition: all .5s ease;
    position: relative;
z-index: 2;
}


.form-body button:hover {
        color: #d5dbdd;
        border: 2px solid #3498db;
        background:linear-gradient(#3a6b9c00, #2a78c6d5);
        position: relative;
z-index: 2;
}

